@import '~style/helpers';

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background: #673ab714;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;

	transition: transform 500ms;

	h1 {
		float: left;
		margin: 0;
		padding: 0 15px;
		font-size: 24px;
		line-height: 56px;
		font-weight: 400;
		color: #FFF;
	}

	will-change: transform;
}

.notActive {
	transform: translateY(-56px);
}

.isActive {
	transform: translateY(0);
}