@import '~style/helpers';

nav {
    float: right;
    font-size: 100%;

    a {
        display: inline-block;
        height: 56px;
        line-height: 56px;
        padding: 0 15px;
        min-width: 50px;
        text-align: center;
        background: rgba(255,255,255,0);
        text-decoration: none;
		color: #EEE;
		border-radius: 0;
        will-change: background-color;

        &:hover, &:active {
            background: rgba(255,255,255,0.3);
        }
    }
}