@import '~style/helpers';

.background {
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: 1;
	left: 0;
	top: 0;
	border: 0;
}

section {
	z-index: 1;
}

div {

	margin-top: 110px; 

	h1, .profile {
		position: relative;
		z-index: 2;
		text-align: center;
		font-size: 2.7rem;
		color: #f5f5f5;
		word-break: break-word;
	}

	 .profile {
		display: block;
		z-index: 2;
		margin-left: auto;
		margin-right: auto;
		width: 175px;
		border-radius: 100px;
		border: 5px solid #fff;
	}	
}